<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ProductDao" >

    <sql id="Base_Column_List" >
          id,shop_id,category_id, name,subtitle,image_url,detail,price,stock,status
    </sql>

    <select id="selectByPrimaryKey" resultType="pojo.Product" parameterType="java.lang.Integer" >
        select <include refid="Base_Column_List" />
        from product
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByIds" parameterType="java.util.List"
            resultType="pojo.Product">
        select <include refid="Base_Column_List" /> from product
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectSlides" resultType="pojo.Product" >
        select product_id as id, p.image_url as imageUrl
        from product_slides as slides
           inner join product as p
           on slides.product_id = p.id
        ;
    </select>

    <select id="selectSeckill" resultType="vo.ProductDiscount" >
         select product_id as id, discount, shop_id, price, category_id, name, detail, stock
         from product_seckill as seckill
           inner join product as p
           on seckill.product_id = p.id
         ;
    </select>

    <insert id="insertSelective" parameterType="pojo.Product"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="shopId != null" >
                shop_id,
            </if>
            <if test="categoryId != null" >
                category_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="subtitle != null" >
                subtitle,
            </if>
            <if test="imageUrl != null" >
                image_url,
            </if>
            <if test="detail != null" >
                detail,
            </if>
            <if test="price != null" >
                price
            </if>
            <if test="stock != null" >
                stock,
            </if>
            <if test="status != null" >
                status
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="shopId != null" >
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null" >
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null" >
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="detail != null" >
                #{detail,jdbcType=VARCHAR},
            </if>

            <if test="price != null" >
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="stock != null" >
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <select id="selectListPageable" resultType="pojo.Product" parameterType="pojo.page.ProductPage">
        select <include refid="Base_Column_List"/>
        from product
        <trim suffixOverrides=",">
        <where>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="minPrice != null">
                and price > #{minPrice},
            </if>
            <if test="maxPrice != null">
                and #{maxPrice} > price,
            </if>
            <if test="beforeDate != null">
                and #{beforeDate} > update_time,
            </if>
            <if test="afterDate != null">
                and update_time > #{afterDate}
            </if>
        </where>
        </trim>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        <if test="limit != null">
            limit #{limit}
            --              如果limit不存在，不能使用offset
            <if test="offset != null">offset #{offset}</if>
        </if>

    </select>
</mapper>